

h1 {
	background-color: black;
	color: whitesmoke;
	text-shadow: 2px 2px 5px burlywood;
	border-bottom: 5px dashed white;


}
 
h2 {
	margin: 8px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	color: #9966CC;

	
}
h22 {
	font-size: 18pt;
	font-family:initial;
	font-weight: bold;
	border-bottom: 5px dotted #5F9EA0;

}
h3 {
	background-color:blanchedalmond;
}


div#zentai {
	display: grid;
	grid-template-columns: 6fr 7fr 8fr ;
	grid-auto-rows: 300px ; 
	grid-gap:5px;
	padding: 5px 5px 5px 5px;
	width: 1200px;
}
div#zentai > div {
	margin-left: 5px;
	background-color: #FFC0CB;
}
div#kaisu {
	display: grid;
	grid-template-columns: 3fr ;
	grid-auto-rows: 20px ; 
	grid-gap:200px;
	padding: 10px;
	width: 500px;
}
