

h1 {
	background-color: black;
	color: whitesmoke;
	text-shadow: 2px 2px 5px burlywood;
	border-bottom: 5px dashed white;


}
 
h2 {
	margin: 8px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	color: #082374;

	
}
h4 {
	font-size: 18pt;
	font-family:initial;
	font-weight: bold;
	border-bottom: 5px dotted #5F9EA0;

}
h3 {
	background-color:blanchedalmond;
}


div#zentai {
	display: grid;
	grid-template-columns: 6fr 8fr  ;
	grid-auto-rows: 300px ; 
	grid-gap:5px;
	padding: 5px 5px 5px 5px;
	width: 1200px;
}
div#zentai > div {
	margin-left: 5px;
	background-color: #FFC0CB;
}
div#kaisu {
	display: grid;
	grid-template-columns: 3fr 3fr ;
	grid-gap:100px;
	padding: 10px;
	width: 1200px;
}

div#kazuate > div{
	margin-left: 10px;
	background-color: #93d2f7;
	

}
