

h1 {
	background-color: black;
	color: whitesmoke;
	text-shadow: 2px 2px 5px burlywood;
	border-bottom: 5px dashed white;


}
 
h2 {
	margin: 10px;
	font-family: normal;
	color: #9966CC;
	
}
h22 {
	font-size: 18pt;
	font-family:initial;
	border-bottom: 5px dotted #5F9EA0;

}
h3 {
	background-color:blanchedalmond;
}


div#zentai {
	display: grid;
	grid-template-columns: 5fr 5fr 5fr ;
	grid-auto-rows: 200px ; 
	grid-gap:15px;
	padding: 5px 5px 5px 5px;
	width: 1024px;
}
div#zentai > div {
	margin-left: 8px;
	background-color: #FFC0CB;
}
div#kaisu {
	display: grid;
	grid-template-columns: 3fr ;
	grid-auto-rows: 20px ; 
	grid-gap:200px;
	padding: 10px;
	width: 500px;
}
