p {
	color: navy;
	
}

p.info {
	
	font-size: small;
	background-color:#dfdfdf;
}

h1 {
	color: white;
	text-shadow: 2px 2px 5px navy;
}

h2 {
	margin: 5px;
	font-family: cursive;
	color: #3f3faf;
	background:linear-gradient(to right, white, #ffefaf);
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 200px ; 
	grid-gap:10px;
	padding: 5px 5px 5px 5px;
	width: 1024px;
}
img{
	float: right;  
	width: 100px;
	height: 100px;
	margin: 10px 0 10px 10px;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}


